<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a [routerLink]="['products']" >Products</a></li>
      <li><a [routerLink]="['wishlist']" >Wishlist</a></li>
      <li><a [routerLink]="['cart']" >Cart</a></li>
      <li><a [routerLink]="['posts']" >Posts</a></li>
      <li><a [routerLink]="['comments']" >Comments</a></li>
      <li><a [routerLink]="['profile']" >Profile</a></li>
    </ul>
  </div>
</nav>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>