<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['login']" *ngIf="!user_LoggedIn"  class="active">Login</a></li>
      <li><a [routerLink]="['products']" *ngIf="user_LoggedIn" class="active" >Products</a></li>
      <li><a [routerLink]="['wishlist']"  *ngIf="user_LoggedIn" >Wishlist</a></li>
      <li><a [routerLink]="['cart']" *ngIf="user_LoggedIn" >Cart</a></li>
      <li><a [routerLink]="['posts']" *ngIf="user_LoggedIn" >Posts</a></li>
      <li><a [routerLink]="['comments']" *ngIf="user_LoggedIn" >Comments</a></li>
      <li><a [routerLink]="['profile']" *ngIf="user_LoggedIn" >Profile</a></li>
      <li><button (click)="logout()" *ngIf="user_LoggedIn" style="margin-top: 10px;" >Logout</button></li>  
    </ul>
  </div>
</nav>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>